@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

html {
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: var(--navbar-height, 80px);
}

@layer base {
  html {
    :root {
      --navigation-height: 6.5rem;
    }

    @apply bg-background;
    font-size: 62.5%;
  }
}

@layer utilities {
  .mask-gradient {
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 27.5%,
      rgb(0, 0, 0) 72.5%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 27.5%,
      rgb(0, 0, 0) 72.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .font-serif {
    font-family: "Instrument+Serif";
    font-style: italic;
    font-weight: 400;
  }
}
